
<html>
<head>
	<title></title>
</head>
<body>
{% if posts_data %}
	<table border=1>
		<tr>
			<th>Date</th>
			<th>ID</th>
			<th>Title</th>
			<th>Text</th>
			<th>Auth</th>
			<th>Fake</th>
			<th>Rating</th>
			<th>Comment</th>
			<th>Share</th>
			

		</tr>
	{% for post in posts_data %}
		<tr>
			<td>{{ post.date }}</td>
			<td>{{ post.id }}</td>
			<td>{{ post.title }}</td>
			<td>{{ post.text }}</td>
			<td>{{ post.auth_count }}</td>
			<td>{{ post.fake_count }}</td>
			<td>{{ post.rating }}</td>
			<td>{{ post.comment_count }}</td>
			<td>{{ post.share_count }}</td>
	{% endfor %}
		</tr>

	</table>
{% endif %}
</body>
</html>
